@import url('https://fonts.googleapis.com/css?family=Roboto');

$font: 'Roboto', sans-serif;
$background: #F3F3F3;

body {
  font-family: $font;
  background-color: $background;
}

main {
  margin: 10px;

  button {
    // button;
  }
}

.movies {

  .movie {
    background-color: white;
    width: 90%;
    height: 200px;
    margin: 10px auto;
    padding: 0px;
    display: flex;

    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 40%;

      img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
      }

    }

    .text {
      padding: 20px;
    }
  }
}

@media (max-width: 600px) {
  .movies {
    .movie {
      height: 500px;
      display: flex;
      flex-wrap: wrap;

      .image {
        height: 300px;
        flex: 1 100%;

        img {
          height: auto;
        }

      }

      .text {

      }

    }
  }
}
