@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

$font: 'Roboto', sans-serif;
$background: #F3F3F3;

body {
  font-family: $font;
  background-color: $background;
}

main {
  margin: 10px;

  button {
    // button;
  }
}

.movies {

  .movie {
    background-color: white;
    width: 90%;
    min-height: 250px;
    margin: 10px auto;
    padding: 0px;
    display: flex;

    .image {
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 40%;

      img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
      }

    }

    .text {
      padding: 20px;
      width: 60%;

      .title {
        font-size: 1.5em;
        font-weight: 700;
      }

      .price {
        font-weight: 700;
      }

      .year {

      }
    }
  }
}

@media (max-width: 600px) {
  .movies {
    .movie {
      min-height: 500px;
      display: flex;
      flex-wrap: wrap;

      .image {
        height: 300px;
        flex: 1 100%;

        img {
          height: auto;
        }

      }

      .text {

      }

    }
  }
}
